<html>
<head>
  <style>
     body{
      background-image : url(../static/sea.jpg);
      background-size : 100%;
    }
  </style>
</head>
<body>
<footer>
  <meta http-equiv='refresh' content='10;url=./win.html'>
</footer>
<p>
	<MARQUEE scrolldelay="100"><img src = "./static/sodaCON.png" width="100" height="100" ></MARQUEE>
    </p>
 <p>
	<MARQUEE scrolldelay=""><img src = "./static/appleCON.png" width="100" height="100" ></MARQUEE>
    </p>
 <p>
	<MARQUEE scrolldelay="200"><img src= "./static/peaCON.png" width="100" height="100" ></MARQUEE>
    </p>
 <p>
	<MARQUEE scrolldelay="45"><img src = "./static/sodaCON.png" width="100" height="100" ></MARQUEE>
    </p>
 <p>
	<MARQUEE scrolldelay=""><img src = "./static/peaCON.png" width="100" height="100"></MARQUEE>
    </p>
 <p>
	<MARQUEE scrolldelay="200"><img src = "./static/appleCON.png" width="100" height="100" ></MARQUEE>
    </p>
  <p>
	<MARQUEE scrolldelay="100"><img src = "./static/sodaCON.png" width="100" height="100"></MARQUEE>
    </p>
 <p>
	<MARQUEE scrolldelay=""><img src = "./static/peaCON.png" width="100" height="100"></MARQUEE>
    </p>
 <p>
	<MARQUEE scrolldelay="200"><img src = "./static/appleCON.png" width="100" height="100" ></MARQUEE>
    </p>
  <p>
	<MARQUEE scrolldelay="100"><img src = "./static/sodaCON.png" width="100" height="100"></MARQUEE>
    </p>
</body>
</html>