<!DOCTYPE HTML>
<meta charset="utf-8" />

<html>
   <head>
      <title>FishingCON</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="static/css/main.css" />
   </head>
   <body>
      <!-- Header -->
      <header id="header">
         <div class="inner">
            <a href="./" class="logo">FishingCON</a>
            <nav id="nav">
               <a href="./">Home</a>
                <a href="https://m.icon.foundation/?lang=ko">ICON</a>
               <a href="https://m.icon.foundation/contents/icx/iconex?lang=en">ICONex</a>

               <button id="connect">
                  Connect Wallets
               </button>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
         </div>
      </header>

      <!-- Banner -->
      <section id="banner">
         <h1>Welcome to FishingCON </h1>
         <p> <font size ='5'>Life is a choice!!</font> </p>
      </section>

       <!-- One -->
      <section id="one" class="wrapper">
         <div class="inner">
            <div class="flex flex-3">
               <article>
                  <header>
                     <h3>FishinfCON<br />Introduce</h3>
                  </header>
                  <p>FishinfCON은 캐릭터가 잡을 물고기의 색상을 예측해 맞추면 보상을 받는 게임입니다.</p>
                  <footer>
                     <a href="https://drive.google.com/file/d/1sKZ0Fu8iA5UC6MokG9x_2tdqYxLLhXrj/view?usp=sharing" class="button special">More</a>
                  </footer>
               </article>
               <article>
                  <header>
                     <h3>Game Start<br /> Choice</h3>
                  </header>
                  <p>FishingCON을 시작하는 버튼 입니다. 게임 시작 하려면 Game Start을 클릭해주세요.</p>
                  <footer>
                     <!--<a href="elements.html" class="button special">Game Start</a>-->
                        <button id="gameStart" class="button special">
                           Game Start
                        </button>
                  </footer>
               </article>
               <article>
                  <header>
                     <h3>Make a Wallet<br> To ICONex</h3>
                  </header>
                  <p>ICONex 지갑이 없는 유저는 지갑이 필요합니다. 지갑을 생성해주세요.</p>
                  <footer>
                     <a href="https://chrome.google.com/webstore/detail/iconex/flpiciilemghbmfalicajoolhkkenfel?hl=en
                        " class="button special">More</a>
                  </footer>
               </article>
            </div>
         </div>
      </section>

      <!-- 물고기 종류 보여줌 -->
      <section id="two" class="wrapper style1 special">
         <div class="inner">
            <header>
               <h2>FishingCON Fish Kind</h2>
               <p>Life is a choice!!</p>
            </header>
            <div class="flex flex-4">
               <div class="box person">
                  <div class="image round">
                     <img src="static/redfish.png" alt="Person 1" />
                  </div>
                  <h3>Applecon</h3>
                  <p>color : Redfish</p>
               </div>
               <div class="box person">
                  <div class="image round">
                     <img src="static/skyfish.png" alt="Person 2" />
                  </div>
                  <h3>Sodacon</h3>
                  <p>color : skyfish</p>
               </div>
               <div class="box person">
                  <div class="image round">
                     <img src="static/greenfish.png" alt="Person 3" />
                  </div>
                  <h3>PeaCON</h3>
                  <p>color : Green fish</p>
               </div>
            </div>
         </div>
      </section>
      <script type="text/javascript" src="../static/js/main.js"></script>
   </body>
</html>


